<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partial/meta.ejs') %>
    <title><%=title%></title>
  </head>
  <body>
    <%- include('../partial/header.ejs') %>
    <h1>Hi there ! I am Home page</h1>

    <a href="/download">Download File </a>
  </body>
</html>
