<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>Welcome to exress js</h1>
    <p>
      Hi My name is <%=name%> I'm from <%=city%> and country is <%=country%>
    </p>

    <!-- using locals -->

    <p>HI I'm <%= locals.name%></p>
  </body>
</html>
